
body {
    font-family: 'Droid Serif', serif;
    margin-right: auto;
    margin-left: auto;
    margin:0;
	padding:0;
    background: #2980b9 url(images/bg.png) repeat 0 0;
	-webkit-animation: 20s linear 0s normal none infinite animate;
	-moz-animation: 20s linear 0s normal none infinite animate;
	-ms-animation: 20s linear 0s normal none infinite animate;
	-o-animation: 20s linear 0s normal none infinite animate;
	animation: 20s linear 0s normal none infinite animate;
 
}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}



.myContent{
    height: 100px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
    
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 50%;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.quote{
    color: white;
    text-align: left;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.fpara{
    color: floralwhite;
    text-align: left;
    width: 40%;
    margin-left: 4%;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.25vw;
    display: table-cell;
    vertical-align: middle;
    
    
}

.tpara{
    color: floralwhite;
    text-align: left;
    width: 40%;
    margin-left: 4%;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.25vw;
    
    
}

.extinct{
    color: floralwhite;
    text-align: left;
    width: 40%;
    margin-right: 4%;
    float: right;
    float: right;
    display: table-cell;
vertical-align: middle ;
    font-size: 1.5vw;

}

.facts{
    color: floralwhite;
    text-align: left;
    width: 40%;
    margin-right: 4%;
    float: right;
    float: right;
    display: table-cell;
vertical-align: middle ;
    font-size: 1.7vw;
    

}

.table2{
    width: 100%;
     
    vertical-align: middle;
    text-align: center;
}

.full{
    color: floralwhite;
    text-align: left;
    width: 40%;
    margin-right: 7%;
    float: right;
    margin-top: auto;
    margin-bottom: 100px;
    font-size: 1.45vw;
    float: right;
    display: table-cell;
vertical-align: middle;

}

.full2{
    color: floralwhite;
    text-align: left;
    width: 40%;
    margin-left: 7%;
    float: left;
    margin-top: auto;
    margin-bottom: 100px;
    font-size: 1.45vw;
    margin-top: 80px;
    display: table-cell;
vertical-align: middle;
    

}

.map{
    width: 100%;
    height: 100%;
    margin: 0;
    
}




.spara{
    color: black;
    text-align: left;
    width: 40%;
    margin-right: 4%;
    float: right;
    margin-top: 3%;
    display: table-cell;
    vertical-align: middle;
}

.simage{
    float: left;
    width: 54%;
    height: 100%;
    background-image: url(images/flying.jpg);
    background-size: cover;
    
}

.nimage{
    float: left;
    width: 54%;
    height: 100%;
    background-image: url(images/snowy.jpg);
    background-size: cover;
    
}

.fimage{
    float: right;
    width: 54%;
    height: 100%;
    margin: 0;
    background-image: url(images/bird.jpg);
    background-size: cover;
    
}

.eimage{
    float: right;
    width: 54%;
    height: 100%;
    margin: 0;
    background-image: url(images/nz.jpg);
    background-size: cover;
    
}

.map{
    float: right;
    width: 54%;
    height: 100%;
    margin: 0;
   
    
}

.timage{
    float: right;
    width: 54%;
    height: 100%;
    margin: 0;
    background-image: url(images/bent-billiard-pipe.jpg);
    background-size: cover;
    
}



.table{
   float: left;
    width: 100%;
    height: 100%;
    margin: 0;
   
    
}

blockquote {
  background: #1775b4;
  border-left: 10px solid #0f6dad;
  color: white;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  margin-right: auto;
  margin-left: auto;
  font-size: 30px;
}
blockquote:before {
  color: white;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after{
  color: white;
  content: close-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
  padding-top: 10px;
}

blockquote p {
  display: inline;
}

h1{
    font-size: 7vw;
    
    
}

h2{
    font-size: 2vw;
    text-align: center;
   
    
}

* {
  box-sizing: border-box;



/*
@media only screen 
and (max-width : 480px) 
{
    .extinct{
        background-color: aqua;
    }
*/
    
 